.footer-contacts {
  width: 231px;
  height: 81px;
}
.address-link {
  display: block;
  @include font(14px, 400, 1.71, 0.03em);
  font-style: normal;
  color: var(--primary-title-color);
  margin-bottom: 9px;
}
.mail-footer,
.tel-footer {
  display: block;
  margin-bottom: 9px;
  @include font(14px, 400, 1.71, 0.03em);
  color: rgba(255, 255, 255, 0.6);
}
